.full {
    height: 200px;
    width: 100%;
    margin: auto;
    display: block;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
	height:100%;
	max-height:100%;
	overflow:hidden;
}

hr {
    margin-top:10px;
}

#adv_ctrl_div{
	background-color:#e8e8e8
}

#btn-switch{
    position: absolute;
    z-index: 5;
    color: white;
    bottom:2%;
}

#impr_map{
    position: absolute;
    z-index: 5;
    color: white;
    top:2%;
}

#impr_pcp{
    position: absolute;
    z-index: 500000;
    color: white;
    top:2%;
}

#impr_dens{
    position: absolute;
    z-index: 500000;
    color: white;
    bottom:2%;
}

#loading-output{
	margin-top:40px
}

.btn-wrapper{
    top:98%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctrl_adv{
    margin: 10px;
}

#left-column {
    padding: 0px 0rem;
	width:16vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	max-height:100vh;
	overflow:auto;
	margin-left:20px;
}
#middle-column {
    display:block;
    position: relative;
	width:67.5vw;
    padding: 0px 0rem;
    min-height: 100vh;
    background-color: #e8e8e8;
}

#right-column {
	width:14vw;
    padding: 0rem 0rem;
    min-height: 100vh;
}




h5 {
    color: #2c8cff;
    font-weight: 300;
}

.intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
}

.graph_card {
/*    position: relative;*/
}

.graph_card h6 {
    margin:  0 7px;
    padding-bottom: 7px;
    border-bottom:  1px solid #ccc;
}