.full {
    height: 200px;
    width: 100%;
    margin: auto;
    display: block;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin-top:10px;
}

#btn-switch{
    position: absolute;
    z-index: 1;
    color: white;
    bottom:2%;
}
.btn-wrapper{
    top:98%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctrl_adv{
    margin: 10px;
}

#left-column {
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#middle-column {
    display:block;
    position: relative;
    padding: 0px 0rem;
    min-height: 100vh;
    background-color: #f4f4f4;
}

#right-column {
    padding: 0rem 0rem;
    min-height: 100vh;
}




h5 {
    color: #2c8cff;
    font-weight: 300;
}

.intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
}

.graph_card {
/*    position: relative;*/
}

.graph_card h6 {
    margin:  0 7px;
    padding-bottom: 7px;
    border-bottom:  1px solid #ccc;
}